<div class='dark-heresy chat roll'>
    <div class='background border'>
        <h1>{{localize 'CHAT.APPLIED_DAMAGE_TO'}} </h1>
        <h3>{{target}}</h3>
        <ul style="text-align: left; display: inline-block;">
            {{#each rolls}}
            <li>{{damage}} {{damageTypeLong type}} {{localize 'CHAT.DAMAGE_AS'}} {{source}} ({{localize location}})</li>
            {{/each}}
        </ul>
        <br>
        <div><b>{{localize 'CHAT.CURRENT_WOUNDS'}}: </b>{{totalWounds}}. <b>{{localize 'WOUND.CRITICAL_DAMAGE'}}: </b>{{totalCritWounds}}</div>
    </div>
</div>