<div class="dark-heresy-item">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" alt="{{item.name}}" data-edit="img" data-action="editImage" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "AMMUNITION.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item" data-action="tab" data-group="primary" data-tab="data">{{localize "TAB.DATA"}}</b>
        <b class="item" data-action="tab" data-group="primary" data-tab="notes">{{localize "TAB.NOTES"}}</b>
    </div>

    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="data">
            <div class="stats border">
                <h1>{{localize "TITLE.STATS"}}</h1>
                <div class="stats-row">
                    <div class="stat weapon">
                        <label>{{localize "AMMUNITION.WEAPON"}}</label>
                        {{#if hasActor}}
                            <select class="ammunition-weapon-select" {{#unless editable}}disabled{{/unless}}>
                                <option value=""></option>
                                {{selectOptions weaponOptions selected=system.weaponId valueAttr="id" labelAttr="name"}}
                            </select>
                            <a class="ammunition-unlink {{#unless system.weaponId}}disabled{{/unless}} {{#unless editable}}disabled{{/unless}}"
                               title="{{localize 'BUTTON.UNLINK'}}" aria-label="{{localize 'BUTTON.UNLINK'}}"><i class="fas fa-chain-broken"></i></a>
                        {{else}}
                            <input name="system.weapon" type="text" value="{{system.weapon}}" />
                        {{/if}}
                    </div>
                    <div class="stat quantity">
                        <label>{{localize "AMMUNITION.QUANTITY"}}</label>
                        <input name="system.quantity" type="number" value="{{system.quantity}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat damage">
                        <label>{{localize "AMMUNITION.DAMAGE"}}</label>
                        <input name="system.effect.damage.modifier" type="number" value="{{system.effect.damage.modifier}}" data-dtype="Number" />
                        <select name="system.effect.damage.type">
                            {{selectOptions (config "damageTypes") selected=system.effect.damage.type localize=true}}
                        </select>
                    </div>
                    <div class="stat penetration">
                        <label>{{localize "AMMUNITION.PENETRATION"}}</label>
                        <input name="system.effect.penetration" type="number" value="{{system.effect.penetration}}" data-dtype="Number" />
                    </div>
                    <div class="stat attack">
                        <label>{{localize "AMMUNITION.ATTACK"}}</label>
                        <input name="system.effect.attack.modifier" type="number" value="{{system.effect.attack.modifier}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat craftsmanship">
                        <label>{{localize "AMMUNITION.CRAFTSMANSHIP"}}</label>
                        <select name="system.craftsmanship">
                            {{selectOptions (config "craftmanship") selected=system.craftsmanship localize=true}}
                        </select>
                    </div>
                    <div class="stat availability">
                        <label>{{localize "AMMUNITION.AVAILABILITY"}}</label>
                        <select name="system.availability">
                           {{selectOptions (config "availability") selected=system.availability localize=true}}
                        </select>
                    </div>
                    <div class="stat weight">
                        <label>{{localize "AMMUNITION.WEIGHT"}}</label>
                        <input name="system.weight" type="number" value="{{system.weight}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat special">
                        <label>{{localize "AMMUNITION.SPECIAL"}}</label>
                        <input name="system.effect.special" type="text" value="{{system.effect.special}}" />
                    </div>
                </div>
                <div class="stats-row special-qualities-row">
                    <div class="stat special-qualities">
                        <label>{{localize "AMMUNITION.SPECIAL_QUALITIES"}}</label>
                        {{#if editable}}
                            <select class="add-quality-select">
                                <option value="">{{localize "AMMUNITION.ADD_QUALITY"}}</option>
                                {{#each qualityOptions}}<option value="{{key}}">{{label}}</option>{{/each}}
                            </select>
                        {{/if}}
                    </div>
                </div>
                {{#if qualityChips}}
                <div class="stats-row quality-chips-row">
                    <div class="quality-chips border">
                        {{#each qualityChips}}
                            <span class="quality-chip" data-key="{{key}}">
                                <span class="quality-chip-label" {{#if desc}}data-tooltip="{{desc}}" data-tooltip-class="dark-heresy-tooltip"{{/if}}>{{label}}</span>
                                {{#if hasValue}}
                                    <input class="quality-value-input" type="number" data-key="{{key}}"
                                           value="{{value}}" min="0" step="1" data-dtype="Number" {{#unless @root.editable}}disabled{{/unless}} />
                                {{/if}}
                                {{#if @root.editable}}
                                    <a class="remove-quality" data-key="{{key}}" title="{{localize 'AMMUNITION.REMOVE_QUALITY'}}">
                                        <i class="fas fa-trash"></i></a>
                                {{/if}}
                            </span>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div class="notes-editor-body">
                    <prose-mirror name="system.description" toggled value="{{system.description}}" {{#unless editable}}disabled{{/unless}}>{{{enrichment.system.description}}}</prose-mirror>
                </div>
            </div>
        </div>
    </div>
</div>
