<div class="dark-heresy-item">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" alt="{{item.name}}" data-edit="img" data-action="editImage" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "APTITUDE.NAME"}}</label>
                    <div class="aptitude-autocomplete">
                        <input name="name" type="text" autocomplete="off" value="{{#unless aptitudeNameIsDefault}}{{aptitudeLabel item.name}}{{/unless}}" placeholder="{{#if aptitudeNameIsDefault}}{{aptitudeLabel item.name}}{{/if}}" />
                        <i class="fas fa-caret-down aptitude-caret"></i>
                        <ul class="aptitude-suggestions" hidden>
                            {{#each aptitudeSuggestions}}
                                <li class="aptitude-suggestion" data-value="{{this}}">{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="notes-editor border">
        <h1>{{localize "TITLE.NOTES"}}</h1>
        <div style="height: 132px; width: 100%">
            <prose-mirror name="system.description" toggled value="{{system.description}}" {{#unless editable}}disabled{{/unless}}>{{{enrichment.system.description}}}</prose-mirror>
        </div>
    </div>
</div>