<div class="flex wrap notes-tab">
    <div class="information border">
        <h1>{{localize "TITLE.BIO"}}</h1>
        <div class="information-row bio-details">
            <label>{{localize "BIO.GENDER"}}</label>
            <input name="system.bio.gender" type="text" value="{{system.bio.gender}}" />
            <label>{{localize "BIO.AGE"}}</label>
            <input class="bio-age" name="system.bio.age" type="text" value="{{system.bio.age}}" />
            <label>{{localize "BIO.BUILD"}}</label>
            <input name="system.bio.build" type="text" value="{{system.bio.build}}" />
            <label>{{localize "BIO.COMPLEXION"}}</label>
            <input name="system.bio.complexion" type="text" value="{{system.bio.complexion}}" />
            <label>{{localize "BIO.HAIR"}}</label>
            <input name="system.bio.hair" type="text" value="{{system.bio.hair}}" />
        </div>
        <div class="information-row bio-long-field">
            <label>{{localize "BIO.DIVINATION"}}</label>
            <input name="system.bio.divination" type="text" value="{{system.bio.divination}}" />
        </div>
        <div class="information-row bio-long-field">
            <label>{{localize "BIO.QUIRKS"}}</label>
            <input name="system.bio.quirks" type="text" value="{{system.bio.quirks}}" />
        </div>
        <div class="information-row bio-long-field">
            <label>{{localize "BIO.SUPERSTITION"}}</label>
            <input name="system.bio.superstition" type="text" value="{{system.bio.superstition}}" />
        </div>
        <div class="information-row bio-long-field">
            <label>{{localize "BIO.MOMENTOS"}}</label>
            <input name="system.bio.momentos" type="text" value="{{system.bio.momentos}}" />
        </div>
    </div>
    <div class="notes-editor border">
        <h1>{{localize "TITLE.NOTES"}}</h1>
        <div class="notes-editor-body">
            <prose-mirror name="system.bio.notes" toggled value="{{system.bio.notes}}" {{#unless editable}}disabled{{/unless}}>{{{enrichment.system.bio.notes}}}</prose-mirror>
        </div>
    </div>
</div>
